<!-- <dl>
	<dt>Name</dt>
	<dd><%= collection.name %></dd>
	<dt>Meta Data</dt>
	<dd>
	<%= @collection.item_type_values.name %>
	<ul>
	<% @collection.item_type_values.metadata_sets.each do |metadata_set| %>
		<li>
		<%= metadata_set.name %>
		</li>
		<ul>
		<% metadata_set.metadata_fields.each do |metadata_field| %>
			<li>
			<%= metadata_field.name %>
			<%= metadata_field.field_type %>
			<%= metadata_field.metadata_values[0].value %>
			</li>
		<% end %>
		</ul>
	<% end %>				
	</ul>
	</dd>
</dl> -->

<%= render partial: "map_information" %> 


<div class="row">
	<!-- information -->
	<div class=col-md-3>
		<div>
		<%= collection.name %>
		</div>
		<div>
		<ul>
		<% @collection.item_type_values.metadata_sets.each do |metadata_set| %>
		<li>
		<%= metadata_set.name %>
		</li>
		<ul>
		<% metadata_set.metadata_fields.each do |metadata_field| %>
		<li>
		<%= metadata_field.name %>
		<%= metadata_field.metadata_values[0].value %>
		</li>
		<% end %>
		</ul>
		<% end %>				
		</ul>
		</div>
		
		<div id="collection-parent">			

			<script type="text/html" id="Collection-template">
				<div>
					<span data-bind='text: name, click: click'></span>
					<span data-bind='text: children().length'></span>
				</div>

				<ul data-bind='visible: isOpen(), foreach: children'>
					<li data-bind='template: template'></li>
				</ul>		
			</script>

			<script type="text/html" id="Item-template">
				<div data-bind='text: name, click: click'></div>
			</script>

			<div>Children</div>

			<ul data-bind='foreach: children'>
				<li data-bind='template: template'></li>
			</ul>
		</div>

		<!-- 
		<div>
			Children
		</div>
		<ul class="child-list">
			<% @collection.children.each do |child| %>			
			<li><%= child.name %></li>
			<% end %>
		</ul>
		 -->
	</div>
	<!-- map -->
	<div class=col-md-9>
		<div id="store-map"></div>
	</div>
</div>		
