<dl>
	<dt>Name</dt>
	<dd><%= collection.name %></dd>
	<dt>Meta Data</dt>
	<dd>
	<%= @item_type.name %>
	<ul>
	<% @item_type.metadata_sets.each do |metadata_set| %>
		<li>
		<%= metadata_set.name %>
		</li>
		<ul>
		<% metadata_set.metadata_fields.each do |metadata_field| %>
			<li>
			<%= metadata_field.name %>
			<%= metadata_field.field_type %>
			<%= metadata_field.metadata_values[0].value %>
			</li>
		<% end %>
		</ul>
	<% end %>				
	</ul>
	</dd>
</dl>