
<div class="row form" id="collections-form">
	<div class="col-md-4" id="">
		<!-- Collection name -->
		<div class="actions">
			<form class="simple_form new_collection" id="new_collection">
			<div>
				<validate-input params="{label: 'Name', value: data.name}"></validate-input>
			</div>	
			<div>
				<label>Is public</label>
				<input type="checkbox" data-bind="checked: data.is_public" />
			</div>
			</form>
		</div>

		<!--  -->
		<select data-bind="options: itemTypes, value: itemType, optionsText: 'name'"></select>
		
		<div data-bind="foreach: itemType().metadata_sets">
			<div data-bind="text: name"></div>
			<div data-bind="foreach: metadata_fields">
				<div data-bind="template: {name:'field-template', data: $data}"></div>
			</div>
		</div>

		<button id="save_collection" data-bind="click: saveCollection" class="btn btn-default">Save Collection</button>


		<!-- mover de aqui -->		

	</div>

	<div class="col-md-4">
	
		<!-- <ul class="list-group" data-bind="foreach: entities">
			<li class="list-group-item" data-bind="dragZone: { name: 'lists' }" class="">
				<span data-bind="if: type == 'Collection'" class="label label-primary">C</span>
				<span data-bind="if: type == 'Item'" class="label label-info">I</span>
				<span data-bind="text: name"></span>
				</li>
		</ul> -->
	<ul data-bind="draggable: {foreach: entities, options: {group: 'test'}}">
		<li class="list-group-item" data-bind="" class="">
				<span data-bind="if: type == 'Collection'" class="label label-primary">C</span>
				<span data-bind="if: type == 'Item'" class="label label-info">I</span>
				<span data-bind="text: name"></span>
				

				<!-- <span class="label" data-bind="text: type, css: type == 'Collection' ? 'label-primary' : 'label-info'"></span> -->
			</li>
	<!-- optional item template here -->
</ul>
	</div>

	<div class="col-md-4">
		<ul data-bind="sortable: {foreach: children, options: {group: 'test'}}">
			<li class="list-group-item">
				<span data-bind="if: type == 'Collection'" class="label label-primary">C</span>
				<span data-bind="if: type == 'Item'" class="label label-info">I</span>
				<span data-bind="text: name"></span>				
				<button type="button" class="close" aria-label="Close" data-bind="click: $root.removeEntity"><span aria-hidden="true">&times;</span></button>
			</li>
		</ul>
<!-- 	<ul data-bind="draggable: {foreach: entities}">
		<li class="list-group-item" data-bind="" class="">
				<span data-bind="if: type == 'Collection'" class="label label-primary">C</span>
				<span data-bind="if: type == 'Item'" class="label label-info">I</span>
				<span data-bind="text: name"></span>
				

	
			</li>
	
</ul> -->
		<!-- <ul class="list-group min-height" data-bind="foreach: children, dropZone: { accepts: 'lists', drop: drop }">
			<li class="list-group-item" data-bind="
										dragZone: {
											name: 'sortable',
											dragStart: $parent.dragStart,
											dragEnd: $parent.dragEnd
										},
										dragEvents: {
											accepts: ['sortable', 'lists'],
											dragOver: $parent.reorder,
											data: { items: $parent.children, item: $data }
										}
			">		
				<span data-bind="if: type == 'Collection'" class="label label-primary">C</span>
				<span data-bind="if: type == 'Item'" class="label label-info">I</span>
				<span data-bind="text: name"></span>				
				<button type="button" class="close" aria-label="Close" data-bind="click: $root.removeEntity"><span aria-hidden="true">&times;</span></button>

			</li>
		</ul>

		 -->
	</div>




</div>




<!-- 
<div class="row form" id="collections">
	<div class="col-md-12">
		<div class="actions">

		<form class="simple_form new_collection" id="new_collection">
		<div>
			<validate-input params="{label: 'Name', value: data.name}"></validate-input>
		</div>


		<div>
			<label>Items</label>

		</div>

		<div>
			<label>Collections</label>
			<input data-bind="value: data.collection_ids" />
		</div>

		</form>
		</div>
	</div>
</div>

<button id="save_collection" data-bind="click: saveCollection" class="btn btn-default">Create Collection</button>

<script>
var itemTypes = <%= ItemType.all().to_json(include: {metadata_sets: {include: :metadata_fields}}).html_safe %>
<% if @collection.id %>
var collectionId = <%= @collection.id %> 
<% end %>
</script>

<select data-bind="options: itemTypes, value: itemType, optionsText: 'name'"></select>


<div data-bind="foreach: itemType().metadata_sets">
	<div data-bind="text: name"></div>
	<div data-bind="foreach: metadata_fields">
		<div data-bind="template: {name:'field-template', data: $data}"></div>
	</div>
</div>
-->



<script>
var itemTypes = <%= ItemType.all().to_json(include: {metadata_sets: {include: :metadata_fields}}).html_safe %>
<% if @collection.id %>
var collectionId = <%= @collection.id %> 
<% end %>
</script>

<%= render partial: "knockout_templates" %> 