<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= simple_form_for @user do |f| %>
    <%= f.input :email %>
    <%= f.input :role, collection: User::roles.keys, include_blank: false, selected: :user, label_method: lambda{|i| i.to_s.humanize} %>
    <%= f.button :submit %>
    <% end %>
  </div>
<% end %>
