

<div class="form-inputs">
	<ul>
		<li>
			<validate-input params="{label: 'Name', value: data.name}"></validate-input>
			<!-- <div class="form-group" data-bind='css:{"has\-error": data.name.hasError}'>
				<label class="control-label">Name</label>
				
				<input class="form-control" data-bind='value: data.name, valueUpdate: "afterkeydown"' />

				<span data-bind="if: data.name.validationMessage">
					<span class="control-label" data-bind='html: data.name.validationMessage()'></span>
				</span>
			</div> -->

		</li>
	</ul>	
<ul data-bind="template: { name: 'metadata-field-template',
							foreach: data.metadata_fields_attributes,
							as: 'metadata_field' }">					
</ul>


</div>



<%= simple_form_for @metadata_set  do |f| %>
<!--	
	<li class="well field" id="field-template" hidden>
		<%= f.simple_fields_for :metadata_fields do |p| %>
			<%= p.input :name, input_html: { name: 'name' } %>
			<%= p.input :field_type, collection: MetadataField::field_types.map {|k,v| [k,k]}, include_blank: false, input_html: { name: 'field_type' } %>
			<%= p.input :hint, input_html: { name: 'hint' } %>
			<%= p.input :default, input_html: { name: 'default' } %>
			<%= p.input :is_required, as: :boolean, input_html: { name: 'is_required' } %>
			<a class="btn btn-danger remove-field">X</a>
		<% end %>
	</li>

  <div class="form-inputs">
 		<%= f.input :name %>
 		<ul id="fields">

 		</ul>
  </div>
-->
<% end %>

<% if @metadata_set.id %>
<script>
	var metadataSetId = <%= @metadata_set.id %>	
</script>
<% end %>

<button id="add_field" class="btn btn-default" data-bind="click: addMetadataField">Add</button>
<button id="save_set" class="btn btn-default" data-bind="click: saveMetadataSet">Save</button>

<script type="text/html" id="metadata-field-template">
	<li>
		<ul>
		<li>
			<!-- <label>Field name</label> -->
			<!-- <input type="" name="" data-bind="value: metadata_field.name"> -->
			<validate-input params="{label: 'Field name', value: metadata_field.name}"></validate-input>
		</li>
		<li>
			<label>Field type</label>
			<select data-bind="options: <%= MetadataField::field_types.keys %>, value: field_type"></select>
		</li>
		<li>
			<label>Hint</label>
			<input type="" name="" data-bind="value: metadata_field.hint">
		</li>
		<li>
			<label>Default</label>
			<input type="" name="" data-bind="value: metadata_field.default">
		</li>
		<li>
			<label>Is required</label>
			<input type="checkbox" value="is_required" data-bind="checked: metadata_field.is_required" />
		</li>
  	</ul>
  	<a class="btn btn-danger remove-field" data-bind="click: $root.removeField">X</a>
  </li>
</script>


