<%= simple_form_for @item do |f| %>
<%= f.input :name %>
<%= f.input :item_type %>
<%= f.button :submit, class: 'btn-default'%> 

<% end %>


<div class="row form" id="items">
	<div class="col-md-9">
		<div id="store-map"></div>
	</div>
	<div class="col-md-3">
		<div class="actions">

		<form class="simple_form new_item" id="new_item">
		<div>
			<label>Name</label>
			<input data-bind="value: data.name" />
		</div>

		<div>
			<label>Start time</label>
			<input data-bind="value: data.start_time" />
		</div>

		<div>
			<label>End time</label>
			<input data-bind="value: data.end_time" />
		</div>

		<div>
			<label>Is public</label>
			<input type="checkbox" data-bind="checked: data.is_public" />
		</div>

		<div>
			<input type="hidden" id="item_location" value="">
		</div>
		</form>
<!-- 
			<%= simple_form_for @item do |f| %>
				<%= f.input :name %>
				<%= f.input :start_time %>
				<%= f.input :end_time %>
				<%= f.input :is_public %>
				<%= f.input :location, as: :hidden %>
				<%= f.button :submit, class: 'btn-default'%> 
			<% end %> 
			-->


		</div>
	</div>
</div>

<button id="save_item" data-bind="click: saveItem" class="btn btn-default">Create Item</button>

<script>
var feature = <%= item.feature_json.html_safe %>
var itemTypes = <%= ItemType.all().to_json(include: {metadata_sets: {include: :metadata_fields}}).html_safe %>
</script>


<!--  -->
<!-- knogout test -->



<select data-bind="options: itemTypes, value: itemType, optionsText: 'name'"></select>


<script type="text/html" id="field-template">
	<div data-bind="text: name"></div>
	<div data-bind="text: field_type"></div>
	<div data-bind="template: {name: field_type+'-template'}"></div>
	<!-- <div data-bind="template: {name: field_type+'-template', data: value}"></div> -->
</script>

<script type="text/html" id="text_field-template">
	<input data-bind="value: value" />
</script>

<script type="text/html" id="file-template">
	<input data-bind="value: value" />
</script>


<div data-bind="foreach: itemType().metadata_sets">
	<div data-bind="text: name"></div>
	<div data-bind="foreach: metadata_fields">
		<div data-bind="template: {name:'field-template', data: $data}"></div>
	</div>
</div>
