
<div class="row form" id="items">
	<div class="col-md-9">
		<div id="store-map"></div>
	</div>
	<div class="col-md-3">
		<div class="actions">
			<%= simple_form_for @item do |f| %>
				<%= f.input :name %>
				<%= f.input :start_time %>
				<%= f.input :end_time %>
				<%= f.input :is_public %>
				<%= f.input :location, as: :hidden %>
				<%= f.button :submit, class: 'btn-default'%>
			<% end %>
		</div>
	</div>
</div>

<script>
var feature = <%= item.feature_json.html_safe %>
var itemTypes = <%= ItemType.all().to_json(include: {metadata_sets: {include: :metadata_fields}}).html_safe %>
</script>


<!--  -->
<!-- knogout test -->



<select data-bind="options: itemTypes, value: itemType, optionsText: 'name'"></select>


<script type="text/html" id="field-template">
	<div data-bind="text: name"></div>
	<div data-bind="text: field_type"></div>
	<div data-bind="template: {name: field_type+'-template'}"></div>
	<!-- <div data-bind="template: {name: field_type+'-template', data: value}"></div> -->
</script>

<script type="text/html" id="text_field-template">
	<input data-bind="value: name" />
</script>

<script type="text/html" id="file-template">
	<input data-bind="value: name" />
</script>


<div data-bind="foreach: itemType().metadata_sets">
	<div data-bind="text: name"></div>
	<div data-bind="foreach: metadata_fields">
		<div data-bind="template: {name:'field-template', data: $data}"></div>
	</div>
</div>

<!-- render templates -->
<!-- <div data-bind="template: { name: 'item-type-template', data: itemType() }"></div>


<scirpt type="text/html" id="item-type-template">
	[<div data-bind="text: name"></div>]
</scirpt>


<script type="text/html" id="person-template">
    <h3 data-bind="text: name"></h3>
    <p>Credits: <span data-bind="text: credits"></span></p>
</script> -->