<div class="row form" id="items">
	<div class="col-md-9">
		<div id="store-map"></div>
	</div>
	<div class="col-md-3">
		<div class="actions">

		<form class="simple_form new_item" id="new_item">
		<div>
			
			<validate-input params="{label: 'Name', value: data.name}"></validate-input>
		</div>


		<div class="">
		    <div class=''>

		        <div class="form-group">
		        	<label>Start time</label>
		            <div class='input-group date' id='start-time-picker'>
		                <input type='text' class="form-control" data-bind="value: data.start_time" />
		                <span class="input-group-addon">
		                   	<i class="fa fa-calendar" aria-hidden="true"></i>
		                </span>
		            </div>
		        </div>
		    </div>
		    <div class=''>
		        <div class="form-group">
		        <label>End time</label>
		            <div class='input-group date' id='end-time-picker'>
		                <input type='text' class="form-control"  data-bind="value: data.end_time" />
		                <span class="input-group-addon">
		                    <i class="fa fa-calendar" aria-hidden="true"></i>
		                </span>
		            </div>
		        </div>
		    </div>
		</div> 

		<div>
			<label>Is public</label>
			<input type="checkbox" data-bind="checked: data.is_public" />
		</div>

		<div>
			<input type="hidden" id="item_location" value="">
		</div>
		</form>
<!-- 
			<%= simple_form_for @item do |f| %>
				<%= f.input :name %>
				<%= f.input :start_time %>
				<%= f.input :end_time %>
				<%= f.input :is_public %>
				<%= f.input :location, as: :hidden %>
				<%= f.button :submit, class: 'btn-default'%> 
			<% end %> 
			-->


		</div>
	</div>
</div>

<button id="save_item" data-bind="click: saveItem" class="btn btn-default">Create Item</button>

<%= render partial: "map_information" %> 

<script>
var feature = <%= item.feature_to_json.html_safe %>
var itemTypes = <%= ItemType.all().to_json(include: {metadata_sets: {include: :metadata_fields}}).html_safe %>
<% if @item.id %>
var itemId = <%= @item.id %> 
<% end %>
</script>


<select data-bind="options: itemTypes, value: itemType, optionsText: 'name'"></select>

<div data-bind="foreach: itemType().metadata_sets">
	<div data-bind="text: name"></div>
	<div data-bind="foreach: metadata_fields">
		<div data-bind="template: {name:'field-template', data: $data}"></div>
	</div>
</div>

<!-- knockout templates -->

<%= render partial: "knockout_templates" %>
