
<div class="row form" id="items">
	<div class="col-md-9">
		<div id="store-map"></div>
	</div>
	<div class="col-md-3">
		<div class="actions">

			<dl>
				<dt>Name</dt>
				<dd><%= item.name %></dd>
				<dt>Owner</dt>
				<dd><%= item.owner.name %></dd>
				
				<% if item.start_time %>
				<dt>Start time</dt>
				<dd><%= item.start_time.to_s :year_month_day %></dd>
				<% end %>
				<% if item.end_time %>
				<dt>End time</dt>
				<dd><%= item.end_time.to_s :year_month_day %></dd>
				<% end %>
				<dt>Meta Data</dt>
				<dd>
				<%= @item.item_type_values.name %>
				<ul>
				<% @item.item_type_values.metadata_sets.each do |metadata_set| %>
					<li>
					<%= metadata_set.name %>
					</li>
					<ul>
					<% metadata_set.metadata_fields.each do |metadata_field| %>
						<li>
						<%= metadata_field.name %>
						<%= metadata_field.field_type %>
						<%= metadata_field.metadata_values[0].value %>
						</li>
					<% end %>
					</ul>
				<% end %>				
				</ul>
				</dd>

			</dl>

		</div>
	</div>
</div>

<script>
var feature = <%= item.feature_to_json.html_safe %>
</script>


