<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">     
          <%= render "navbar" %>
          <%= yield %>
          <%= render "shared/toaster" %>
        </div>
      </div>
    </div>
  </body>
</html>
